<?xml version="1.0" encoding="utf-8"?><config:wdaConfiguration config:configEditorUrl="http://bl-sap-hrd.it.beloil.by:8035/sap/bc/webdynpro/sap/configure_component?COMP_NAME=FPM_OIF_COMPONENT&amp;CONFIG_ID=ERC_A_CAND_OVERVIEW_OIF&amp;CONFIG_TYPE=00&amp;CONFIG_VAR=&amp;ACTION=DISPLAY&amp;sap-language=RU&amp;client-env=AiE" adtcore:responsible="SAP" adtcore:masterLanguage="DE" adtcore:masterSystem="SAP" adtcore:name="ERC_A_CAND_OVERVIEW_OIF" adtcore:type="WDCC" adtcore:changedAt="2012-07-19T00:00:00Z" adtcore:version="active" adtcore:createdAt="2012-07-19T00:00:00Z" xmlns:config="http://www.sap.com/adt/wda/config" xmlns:adtcore="http://www.sap.com/adt/core"><adtcore:packageRef adtcore:uri="/sap/bc/adt/vit/wb/object_type/devck/object_name/PAOC_RCF_WD_UI" adtcore:type="DEVC/K" adtcore:name="PAOC_RCF_WD_UI"/></config:wdaConfiguration>